*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: gray;
   
    background-repeat: repeat;
    /* background-position: center; */
}

.container {
    margin-top: 5%;
    /* border: 1px solid red ; */
  
}

.infoContainer{
    width: 300px;
    background-color: aquamarine;
}

.guessesContainer {
    background-color: wheat;
    overflow: auto;
}

h1{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Tapestry', cursive;

}

.rules {
    list-style-type:none ;
    
}
.text-center, form, .messageContainer{
  text-align: center;
}

.remaining-info {
    color: white;
}

.history {
    height: 300px;
}

.col {
    padding: 1%;
}


#submitBtn{
    display: block;
    margin: 1% auto 3% auto;    
}

.button-container {
    /* margin: 0 auto; */
    text-align: center;
}

#reset-playAgainBtn, #hint-btn {
    font-size: 25px;
    width: 20%;
}

#submitBtn {
    background-color: beige;
}

#submitBtn:hover {
    background-color: bisque
}

#submitBtn:disabled {
    background-color: lightgray;
    color: white;
}

.score {
    color: yellow;
}

.borderBottom {
    border-bottom: 2px solid white;
}

#hint-btn:disabled {
    background-color: lightgray;
    border: lightgray;
    color: white;
}