*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000;
    background-repeat: repeat;
}

.container {
    margin-top: 5%;
    padding: 5%;
    /* border: 1px solid red ; */
  
}

.infoContainer{
    width: 300px;
    background-color: aquamarine;
}

.guessesContainer {
    background-color: wheat;
    overflow: auto;
}

h1{
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Tapestry', cursive;

}

.rules {
    list-style-type:none ;
    
}
.text-center, form, .messageContainer{
  text-align: center;
}

.remaining-info {
    margin-top: 1em;
    color: white;
}

.history {
    height: 300px;
}

#submitBtn{
    display: block;
    margin: 1% auto 3% auto;    
}

.button-container {
    /* margin: 0 auto; */
    text-align: center;
}

#reset-btn, #hint-btn {
    font-size: 25px;
    width: 20%;
    margin-right: 1em;

}

#submitBtn {
    background-color: beige;
}

#submitBtn:hover {
    background-color: bisque
}

#submitBtn:disabled {
    background-color: lightgray;
    color: #fff;
}

.score {
    color: yellow;
}

.borderBottom {
    border-bottom: 2px solid #fff;
}

#hint-btn:disabled {
    background-color: lightgray;
    border: lightgray;
    color: #fff;
}

.text-bold {
    font-weight: 700;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
}

footer {
    margin-top: 1%;
    color: white;
}

#playAgainBtn {
    margin-top: 1em;
}

img {
    width: 20%;
}

.noShow {
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: blue;
}